.title2 {
    position: relative;
    padding: 20PX 0;
}

.navbaritem {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0;
}

.navbaritem h3 {
    font-size: 1.5rem;
    text-transform: capitalize;
}

.navbaritem button {
    padding: 10px;
    border-radius: 15px;
    background-color: blue;
    border: 0;
    color: white;
    font-size: 1rem;
    width: 120px;
}

.TEAMMEBER {
    color: blue;
    margin-left: 20px;
    color: blue;
    margin-left: 20px;
    position: ABSOLUTE;
    LEFT: 16%;
    top: 0;
}
.Cards-fx{
display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    border-radius: 15px;
}